<section class="card">
  <!-- The contents of this card links to the blog post by id -->
  <button id="{{id}}" class="btn btn-primary delete-btn">Delete</button>
  <a href="/blogPost/{{id}}">
    <!-- blog post title -->
    <header>{{title}}</header>
    {{!-- blog post description --}}
    <p>{{description}}</p>
  </a>
</section>