<section class="card">
    <button id="{{id}}" class="btn btn-primary delete-btn">Delete</button>
    <div>
        <h3>Comment By: {{user_id}}</h3>
        <p>{{description}}</p>
    </div>
</section>