<section class="card">
  <!-- The contents of this card links to the blog post by id -->
  <a href="/blogPost/{{id}}">
    <!-- blog post title -->
    <header>{{title}}</header>
    <h5>Created: {{date_created}}</h5>
    {{!-- blog post description --}}
    <p>{{description}}</p>
  </a>
</section>