<section class="container">
  <h3 class="blogPost">{{blogPost.title}}</h3>
  <h4> Created: {{blogPost.date_created}}</h4>
  
  {{#if logged_In}}
  
  {{/if}}
</section>
{{#unless logged_In}}
<a href="/login">Please Log In</a>
{{/unless}}