<section class="container">
  <h3 class="gallery-name">{{title}}</h3>
  <section class="flex-row justify-center">
    
    <h2>blog post go here</h2>
    {{!-- {{#each gallery.paintings as |painting|}}
    {{!-- {{> painting-details}} --}}
    {{!-- {{/each}} --}}
  </section>
</section>
